{{/*
  Partial: blog-list.html

  - Renders recent blog posts using blog-card partial
  - Used for sidebar or homepage previews

  Usage:
    {{ partial "blog-list.html" . }}
*/}}

{{ $mainSections := .Site.Params.mainSections | default (slice "blog") }}

{{/* Create a variable with that section to use in multiple places. */}}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}

{{ $n_posts := $.Param "recentPostCount" | default 3 }}

{{/* Range through the first $n_posts items of the section */}}
{{ range (first $n_posts $section) }}
  {{ partial "blog-card" . }}
{{ end }}
