{{/*
  Layout: _default/taxonomy.html

  - Renders tag or category listings
  - Each item links to list of pages by term
  - Term pages link to content pages
*/}}

{{ define "main" }}
  {{ partial "page-title.html" . }}

  <main class="container mx-auto px-4 my-12">
    <div class="prose max-w-none mb-10">
      {{ .Content }}
    </div>
    <ul class="space-y-4">
      {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}" class="block bg-white p-6 shadow rounded hover:shadow-md transition-shadow">
            <h2 class="text-lg font-semibold">
              {{ .Title }}
            </h2>
          </a>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
