# https://gohugo.io/hosting-and-deployment/hosting-on-netlify/#configure-hugo-version-in-netlify
# https://docs.netlify.com/configure-builds/overview/#definitions
[build]
base    = "site"
publish = "public"
command = "npm ci && hugo"

[build.environment]
NODE_VERSION = "22"

[context.production.environment]
HUGO_VERSION = "0.154.2"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"
