@charset "utf-8";

@import 'bulma_custom';

body {
  min-height: 50vh;
  line-height: 1.75;
}

// to style the intro section
.introduction {
  font-size: 1.4rem;
}

.hero--page-header * {
  // https://bulma.io/documentation/overview/colors
  background-color: $grey-darker;
  color: $white-ter;
}

// to avoid text content jumping around while image is loading
.mn-ProgressiveImage {
  picture,
  img {
    display: block;
    min-height: 250px;
  }
}

// https://gist.github.com/unruthless/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
