<ul class="columns">
  {{ range .Params.Saijin }}
    <li class="column">
      {{ if .linkUrl }}<a href="{{.linkUrl}}">{{ end }}
      <div class="card mb-4">
        <div class="card-image">
          <figure class="image">
            <img src="{{ relURL .image }}">
          </figure>
        </div>
        <div class="card-content">
          <h4 class="title is-4">{{ .name }}</h4>
          <div class="content">{{ .description | markdownify }}</div>
        </div>
      </div>
      {{ if .linkUrl }}</a>{{ end }}
    </li>
  {{ end }}
</ul>
