{{ define "main" }}

<section class="hero hero--page-header">
  <div class="hero-body">
    <p class="title">{{.Title}}</p>
  </div>
</section>
<main class="container my-5 px-4">
  <section class="mb-6">
    <h3 class="title">おふだ</h3>
    <div class="content">
      {{ .Params.ofudaDescription | markdownify }}
    </div>
    {{ partial "card-flex-wrap" .Params.ofudaCollection }}
  </section>
  <section class="mb-6">
    <h3 class="title">お守り</h3>
    <div class="content">
      {{ .Params.omamoriDescription | markdownify }}
    </div>
    {{ partial "card-flex-wrap" .Params.omamoriCollection }}
  </section>
</main>

{{ end }}
