{{ define "main" }}

<section class="hero hero--page-header">
  <div class="hero-body">
    <p class="title">{{.Title}}</p>
  </div>
</section>
<main class="container my-5 px-4">
  {{ if .Params.MainImage }}
    <div class="mb-4">
      {{ partial "progressive-image.html" (dict "context" . "src" .Params.MainImage "alt" .Title) }}
    </div>
  {{ end }}
  {{ if ne (len .Site.Taxonomies.tags) 0 }}
    <div class="tags are-large">
      {{ partial "site-tags" . }}
    </div>
  {{ end }}
  <div class="content">{{ .Content }}</div>
  <div>
    {{ range .Paginator.Pages.ByPublishDate.Reverse }}
      {{ partial "blog-card" . }}
    {{ end }}
  </div>
  {{- template "_internal/pagination.html" . -}}
</main>

{{ end }}
