{{ define "main" }}

<section class="hero hero--page-header">
  <div class="hero-body">
    <p class="title">{{.Title}}</p>
    <p class="subtitle">
      <time datetime="{{ . }}">{{ dateFormat "2006/01/02" .Date }}</time>
      {{ if .Params.Tags }}
        <span class="ml-3">{{- partial "page-tags.html" . -}}</span>
      {{ end }}
    </p>
  </div>
</section>
<main class="container my-5 px-4">
  {{ if .Params.MainImage }}
    <div class="mb-4">
      {{ partial "progressive-image.html" (dict "context" . "src" .Params.MainImage "alt" .Title) }}
    </div>
  {{ end }}
  <div class="content">{{ .Content }}</div>
</main>

{{ end }}
