{{ define "main" }}
<!-- Hero Section -->
<header class="bg-gray-100">
  {{ partial "progressive-image.html" (dict "context" . "src" .Params.MainImage "alt" .Title) }}
  <div class="container mx-auto px-4 py-12">
    <div class="prose max-w-none">
      {{ .Params.Introduction | markdownify }}
    </div>
  </div>
</header>
<main class="container mx-auto px-4">
  <!-- Main Content -->
  <section class="my-12 prose max-w-none">
    <img src="/img/miyamadosan.svg" class="no-decoration" alt="みやまどさんのロゴ">
    {{ .Content }}
  </section>
  <!-- 祭神 -->
  <section class="my-12">
    {{ partial "card-columns" .Params.Saijin }}
  </section>
  <!-- 特徴 -->
  <section class="my-12">
    {{ partial "card-columns" .Params.Features }}
  </section>
  <!-- お知らせ -->
  {{ if .Params.News }}
    <section class="my-20">
      <div class="max-w-3xl mx-auto border-s-4 border-red-600 bg-white shadow-sm px-6 py-10 rounded">
        <h2 class="text-2xl font-bold text-red-800 text-center mb-6 tracking-wide">
          お知らせ
        </h2>
        <div class="prose max-w-none text-gray-800 text-sm md:text-base leading-relaxed prose-img:mx-auto prose-img:rounded prose-img:shadow-md prose-img:max-w-full prose-a:underline hover:prose-a:text-red-600">
          {{ .Params.News | markdownify }}
        </div>
      </div>
    </section>
  {{ end }}
  <!-- ブログ一覧 -->
  <section class="my-12">
    <div class="mb-6">
      {{ partial "blog-table" . }}
      {{ $blogPostCount := len (where .Site.RegularPages "Section" "!=" "") }}
      {{ if gt 0 $blogPostCount }}
        <div class="flex flex-wrap gap-2 text-sm mt-4">
          <a href="/blog" class="inline-block bg-gray-200 px-3 py-1 rounded">
            全記事<sub>{{ $blogPostCount }}</sub>
          </a>
          {{ partial "site-tags" . }}
        </div>
      {{ end }}
    </div>
  </section>
  <!-- 境内案内 -->
  <section class="my-12">
    <h2 class="text-2xl font-bold mb-4">
      境内案内
    </h2>
    {{ if .Params.KeidaiImage }}
      <img class="mb-6 mx-auto" src="{{ .Params.KeidaiImage }}" alt="境内画像">
    {{ end }}
    {{ partial "keidai-list.html" .Params.keidaiSpots }}
  </section>
  <!-- 交通のご案内 -->
  <section class="my-12">
    <h2 class="text-2xl font-bold mb-4 text-center">
      交通のご案内
    </h2>
    <iframe class="w-full h-[450px] mb-6" src="{{ .Site.Params.officeMapIframeUrl }}" frameborder="0"></iframe>
    <div class="max-w-3xl mx-auto bg-blue-50 border-l-4 border-blue-400 p-6 rounded-lg shadow-sm mb-6">
      <div class="prose max-w-none text-gray-800 text-sm md:text-base leading-relaxed">
        {{ .Params.transportation | markdownify }}
      </div>
    </div>
  </section>
  <!-- Netlify CMS Redirect Script -->
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</main>
{{ end }}
