{{ define "main" }}

<header class="hero introduction">
  <img src="{{ .Params.MainImage }}">
  <div class="hero-body">
    <div class="content">
      {{ .Params.Introduction | markdownify }}
    </div>
  </div>
</header>
<main class="container px-4 mb-6">
  <section class="section">
    <span class="content">
      {{ .Content }}
    </span>
  </section>
  <section class="section px-0 saijin">
    {{ partial "card-columns" .Params.Saijin }}
  </section>
  <section class="section px-0 features">
    {{ partial "card-columns" .Params.Features }}
  </section>
  <section class="section px-0 keidai">
    <h2 class="title is-2">境内案内</h2>
    <img class="mb-5" src="{{ .Params.KeidaiImage }}">
    <div class="content">
      {{ .Params.keidaiDescription | markdownify }}
    </div>
  </section>
  <section class="section px-0 access">
    <h2 class="title is-2">アクセス</h2>
    <div class="content">
      {{ .Params.access1 | markdownify }}
    </div>
    <iframe class="mb-5" src="{{ .Params.accessGoogleMapIframeUrl }}" width="100%" height="450" frameborder="0"></iframe>
    <div class="content">
      {{ .Params.access2 | markdownify }}
    </div>
  </section>
</main>

{{ end }}
